  <div class="">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">登録情報</span>
          <p><%= @user.email %></p>
        </div>
        <% if logged_in? %>
        <% if @user.email == current_user.email %>
        <div class="card-action">
          <%= link_to "メールアドレスを編集",edit_user_path(@user) %>
          <%= link_to "ユーザーを削除",user_path(@user), method: :delete %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
            