    <ul class="collection">
    <% @users.each do |user| %>
      <li class="collection-item">
        <%= link_to user.email, user_path(user.id) %>
        <% if logged_in? %>
            <% if user.email == current_user.email %>
                <span class="badge">Me</span>
            <% end %>
        <% end %>
      </li>
    <% end %>
    </ul>